<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/immmdreza/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="immmdreza" />
            <add key="ClearTextPassword" value="1281e3b6429fa431c5b377dfc499776f7aa5f4ec" />
        </github>
    </packageSourceCredentials>
</configuration>